{% include "includes/header.html" %}
<header>
  <div class="page-header min-vh-75 relative">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="header-text">Data loader</h1>
          <p class="header-text">App for loading data from files to database.</p>
        </div>
      </div>
    </div>
  </div>
</header>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="container marketing products">

  <hr class="featurette-divider">

  <div class="container text-center">
    <form action="{% url 'data_loader:process_file' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <!-- <label for="">Process a file</label> -->
      <h3>Process a file</h3>
      {{ process_file_form }}
      <input type="submit" value="Process" class="btn btn-primary">
    </form>
  </div>

  <hr class="featurette-divider">

  <div class="container text-center">
    <form action="{% url 'data_loader:process_group' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <!-- <label for="">Process a file</label>
       -->
      <h3>Process a group of files</h3>
      {{ process_group_form }}
      <input type="submit" value="Process" class="btn btn-primary">
    </form>
  </div>

  <hr class="featurette-divider">


  <!-- /END THE FEATURETTES -->

</div>

{% include "includes/footer.html" %}